@import url(http://fonts.googleapis.com/css?family=Lato:900);

body{
	background: url("https://image.freepik.com/free-vector/wooden-texture_23-2147511826.jpg") no-repeat center fixed;
	background-size: cover;
    display:none;
}
/* The << button to go back to the homePage*/
.backbutton{
	border:2px solid white;
	color:white;
	text-align:center;
	line-height:0;
	font-size:100px;
	border-radius:20px;
}
.backbutton:hover{
	background:#8A3324;
}
.backbutton:active {
	position:relative;
	top:2px;
}

/* Main Body Starts Here*/
aside, #selectionTable{
	float:left;
	width:auto;
    font-family:'AR BERKLEY';
    font-size:30px;
    margin-top:5%;
}
#menuTable{
    float:left;
    margin-left:3%;
    color:white;
}
td{
    text-align:center;
    padding:1px;
}

#coffeebill, #coffeebilltotal,#coffeebilltitle{
    font-family:'OCR A';
    font-size:13px;
    width:100%;   
    color:white;
}

.mainbillTable{
    width:100%;
    height:400px;
    overflow:scroll;
}

h4{
    text-align:center;
    font-family:'Edwardian Script ITC';
    font-size: 30px;
    margin:0;
}

.total{
	float:left;
    border:1px solid black;
    text-align:center;
    width:25%;
    margin-left:1%;
}
.pickYourCofee{
	width:30%;
	float:left;
    margin-left:2%;
    width:auto;
    border:2px dashed white;
}
/* The design for the buttons*/
button {
    cursor:pointer;
    font-family:'Lato',Arial;
    font-size:20px;
    width:170px;
	padding:7px 25px;
	text-decoration:none;
    -moz-box-shadow: 2px 3px 0px 0px #899599;
	-webkit-box-shadow: 2px 3px 0px 0px #899599;
	box-shadow: 2px 3px 0px 0px #899599;
	background-color:#7d5d3b;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
    border:1px solid white;
    float:right;
}

button:active{
    position:relative;
	transform: translateY(4px);
}

#myOrder{
    width:250px;
    float:left;
    margin-left:40%;
}
.other, #myOrder, #addOrder{
     background-color:#8A3324;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
    font-size:20px;
    font-family:'AR DESTINE';
    width:170px;
}
#checkout{
     background-color:#8A3324;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
    font-size:20px;
    font-family:'AR DESTINE';
    width:170px;
    text-decoration:none;
     cursor:pointer;
	padding:7px 25px;
    -moz-box-shadow: 2px 3px 0px 0px #899599;
	-webkit-box-shadow: 2px 3px 0px 0px #899599;
	box-shadow: 2px 3px 0px 0px #899599;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
    float:right;
    border:1px solid white;
}
#checkout:active{
    position:relative;
	transform: translateY(4px);
}
/*The table headers and the sentences used in the table*/
.questions{
    text-align:left;
    font-family:'AR BERKLEY';
    color:brown;
}
.tableheaders{
    text-align:center;
    font-family:'Edwardian Script ITC';
    font-size: 45px;
    font-weight:bold;
}
@media screen and (max-device-width: 1280px) {
    .menu{
        width:33%;
    }
    .pickYourCofee{
        width:38%;
    }
    #menuTable{
        width:90%;
        font-size:15px;
    }
    #selectionTable th{
        font-size:25px;
    }
    #selectionTable{
        width:100%;
    }
    button,.other, #checkout, #myOrder, #addOrder{
        width:90px;
        padding:1px 10px;
        font-size:13px;
        border-radius:7px;
        text-shadow:none;
    }
    .tableheaders{
        font-size: 35px;
        text-align:center; 
    }
    #myOrder{
        float:left;
        margin-left:40%;
    }
  
}