@import url(http://fonts.googleapis.com/css?family=Lato:900);

body{
	font-family: 'Lato', sans-serif;
	background: url("https://image.freepik.com/free-vector/wooden-texture_23-2147511826.jpg") no-repeat center fixed;
	background-size: cover;
}
.button{
	border:2px solid white;
	color:white;
	text-align:center;
	line-height:0;
	font-size:100px;
	border-radius:20px;
}
.button:hover{
	background:#8A3324;
}
aside{
	float:left;
	border-right:2px solid white;
	width:48%;
}
.pickYourCofee{
	width:48%;
	float:left;
}
.total{
	clear:both;
	border:1px solid white;
}
