
body{
font-family: 'Edwardian Script ITC', sans-serif;
background: url("http://eskipaper.com/images/free-coffee-wallpaper-3.jpg") no-repeat center fixed;
background-size: cover;
display:none;
}

.mainbody{
    float:right;
    width:50%;
    margin: 0 10% 0 0;
}

.homePageHeader{
  text-align: center;
}
.letter{
  font-weight: 900;
  font-size: 8em;
  position: relative;
  color:#FFC8A6 ;
  transform-style: preserve-3d;
  perspective: 400px;
  z-index: 1;
  margin:5px;
}
.title{
    margin:-5% 0 0 35%;
    text-align:right;
}
.cofe{
	font-family:'AR BERKLEY'; 
	font-size:45px;
	color:#7d5d3b;
}
.cofe:hover{
  color:#8A3324;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: 0 50%;
 
}
.letter, .letter:before, .letter:after{
  transition: all 0.5s ease-in-out;
}
.letter:before{
  color: #7d5d3b;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateY(-15deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #8A3324;
  transform:
    rotateY(-40deg)
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateY(40deg)
    skew(0deg,20deg);
}

blockquote{
	font-size: 2.5em;
	color:#7d5d3b;
	text-align:center;
    margin:12% 0;
}




.divbutton{
    margin:10% 0 0 40%;   
}
.highlight,#coffee{
    font-size:larger;
    font-family:Impact;
}

.button {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background-color:#7d5d3b;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	cursor:pointer;
	color:#FFC8A6;
	font-family:'AR BERKLEY','Lato',Arial;
	font-size:3em;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button:hover {
	background-color:#8A3324;
}
.button:active {
	position:relative;
	top:3px;
}


@media screen and (max-device-width: 1280px) {
    .letter{
        font-size:6em;
    }
    blockquote{
        margin:10% 0;
        font-size:2.5em;
    }
    .cofe{
        font-size:2em;
    }
    .button{
        font-size:2em;
    }
}
@media screen and (max-device-width: 800px) {
     .letter{
        font-size:4em;
    }
      .cofe{
        font-size:1.5em;
    }
      .button{
        font-size:1.5em;
        margin:40% 0 0 20%;
    }
      blockquote{
        margin:60% 0;
        font-size:2.5em;
    }

}
@media screen and (max-device-width: 800px) {
     .letter{
        font-size:3em;
    }
      .cofe{
        font-size:1.5em;
    }
      .button{
        font-size:1.5em;
        margin:40% 0 0 20%;
    }
      blockquote{
        margin:40% 0;
        font-size:2.5em;
    }

}

