
body{
font-family: 'Edwardian Script ITC', sans-serif;
background: url("http://eskipaper.com/images/free-coffee-wallpaper-3.jpg") no-repeat center fixed;
background-size: cover;
}

.mainbody{
    float:right;
    width:50%;
    height:auto;
    margin-right:30px;
}

.homePageHeader{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom:1px solid white;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  position: relative;
  color:#FFC8A6 ;
  transform-style: preserve-3d;
  perspective: 400px;
  z-index: 1;
}
.title{
    margin:-5% 0 0 35%;
    text-align:center;
}
.cofe{
	font-family:'AR BERKLEY'; 
	font-size:45px;
	color:#7d5d3b;
}
.cofe:hover{
  color:#8A3324;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: 0 50%;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.5s ease-in-out;
}
.letter:before{
  color: #7d5d3b;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateY(-15deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #8A3324;
  transform:
    rotateY(-40deg)
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateY(40deg)
    skew(0deg,20deg);
}

blockquote{
	font-family:'Edwardian Script ITC'; 
	font-size: 45px;
	color:#7d5d3b;
	text-align:center;
    margin-top:20%;
}

.divbutton{
    margin:10% 0 0 50%;   
}
.highlight,#coffee{
    font-size:larger;
    font-family:Impact;
}

.button {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background-color:#7d5d3b;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#FFC8A6;
	font-family:'Lato',Arial;
	font-size:20px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.button:hover {
	background-color:#8A3324;
}
.button:active {
	position:relative;
	top:3px;
}

